<div class="container-fluid p-0">
  <div class="full-width-banner mt-navbar">
      <%= image_tag 'banner-schule2.jpg', alt: 'Chalkboard Background', class: 'banner-background' %>
    <div class="banner-overlay">
      <%= image_tag 'fortbildung.jpg', alt: 'Children and Adults', class: 'banner-overlay-image' %>
    </div>
  </div>

  <div class="container mt-5">
    <!-- Section 1: Professional Development Information -->
    <div class="row mb-5">
      <div class="col-lg-12">
        <div class="card shadow p-4 d-flex flex-lg-row flex-column align-items-start">
          <!-- Left Column: Professional Development Info -->
          <div class="flex-fill">
            <h3>Fortbildungen für Lehrkräfte und Pädagogen</h3>
            <p>Der ungesteuerte Erwerb der deutschen Bildungssprache im Alltag der Bildungseinrichtungen ist sehr ineffizient für Kinder. Pädagogen und Lehrkräfte können durch systematische Hilfestellungen im Unterricht den Sprachlernprozess niederschwellig beschleunigen. Dafür braucht es keinen umfassenden, separaten Unterricht, sondern Wissen um mehrsprachige Entwicklung, Sensibilisierung für besonders effiziente Sprachlernsituationen und Techniken der Vermittlung der Bildungssprache in allen Fächern und Situationen.</p>
            <p>Wir bieten Fortbildungen zu diesen Themen an. Profitieren Sie von unseren E-Learning-Modulen, um im eigenen Tempo die für Sie relevanten Themen zu bearbeiten. Alle Angebote sind praxisorientiert und beinhalten unsere Erfahrungen aus über zehn Jahren Sprachförderung und Sprachbildung. Begleitet werden die E-Learning-Module von Angeboten zum Coaching, zur Einzelfallberatung und zum Austausch mit anderen Lehrkräften. Werden Sie Teil unseres Netzwerks von erfahrenen SprachtrainerInnen, sprachsensiblen PädagogInnen und DaZ- Lehrkräften!</p>
            <p>Hier gelangen Sie zu unserem aktuellen Angebot:</p>
            <ul>
              <li>Fortbildungsplattform Teungedj</li>
            </ul>
          </div>

          <!-- Right Column: Managing Director Image -->
          <div class="align-self-center ml-lg-5 mt-4 mt-lg-0">
            <%= image_tag 'kristina_edel.jpg', alt: 'Dr. Kristina Edel', class: 'img-fluid rounded-circle', style: 'width:150px; height:150px;' %>
            <p class="mt-3 text-center"><strong>Dr. KRISTINA EDEL</strong><br>Geschäftsführung</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
