<div class="container-fluid p-0">
  <div class="full-width-banner mt-navbar">
    <%= image_tag 'banner-schule2.jpg', alt: 'Chalkboard Background', class: 'banner-background' %>
    <div class="banner-overlay">
      <%= image_tag 'banner-deutsch4you.jpg', alt: 'Children and Adults', class: 'banner-overlay-image' %>
    </div>
  </div>

  <div class="container mt-5">
  <div class="row mb-4">
  <div class="col-lg-12">
    <div class="card shadow p-4 d-flex flex-lg-row flex-column align-items-start h-100">
      <!-- Left Section: Text Content -->
      <div class="flex-fill" style="max-width: 800px">
        <h3>Sprachkurse für Erwachsene: Deutsch4You</h3>
        <p>
          In Gruppen-Unterrichtseinheiten wird der deutsche Spracherwerb durch Austausch und Kommunikation, theoretische Erläuterungen und Übungen zu Grammatik, Lese- und Hörverstehen, usw. anregend gestaltet und Lernerfolge garantiert ermöglicht.
        </p>
        <p>
          So individuell wie jeder Teilnehmende, Herkunftsland und Muttersprache können die angestrebten Ziele des Deutschkurses angelegt sein. Von sprachlichen Grundlagen zur ersten Orientierung in einer neuen Umgebung, bis zum Hinarbeiten auf ein Sprachniveau zur Sprachstandsfestigkeit – alle Belange und Möglichkeiten werden berücksichtigt und Lerninhalte auf diese abgestimmt.
        </p>
        <p>
          Wir bieten regelmäßige Deutschkurse für Erwachsene und Kinder sowie Einzel- und Spezialkurse für Unternehmen und Organisationen an. Unser Ziel ist es, Dienstleistungen in Übereinstimmung mit den Bedürfnissen und Anforderungen unserer Kunden zu erbringen. Nutzen Sie jetzt unser Sprachkurs-Angebot und lernen Sie mit Spaß und Freude, um Ihre beruflichen Möglichkeiten zu verbessern oder sich besser im Alltag zurechtzufinden.
        </p>

       

        <!-- Contact Information -->
        <p>Die Kurse werden durchlaufend angeboten. Neue KursteilnehmerInnen sind herzlich willkommen!</p>
        <p><strong>Interesse?</strong> <a href="/contact" class="text-primary">Wir beraten Sie gerne!</a></p>
      </div>

      <!-- Right Section: Image and Info -->
      <div class="align-self-center ml-lg-5 mt-4 mt-lg-0 text-center">
        <img src="/assets/tina.png" alt="Husein Halilovic" class="img-fluid rounded-circle" style="width:150px; height:150px;">
        <h5 class="mt-3">Tina Wüsthof</h5>
        <p>Fachbereich Erwachsenensprachkurse</p>
      </div>
    </div>
  </div>
</div>
  </div>
</div>
