<div class="container-fluid p-0">
  <div class="full-width-banner mt-navbar">
    <%= image_tag 'banner-schule2.jpg', alt: 'Chalkboard Background', class: 'banner-background' %>
    <div class="banner-overlay">
      <%= image_tag 't.jpg', alt: 'Children and Adults', class: 'banner-overlay-image' %>
    </div>
  </div>

  <div class="card container mt-5">
    <h2 class="mb-4 text-center">Unser Team</h2>

    <!-- Top Row -->
    <div class="row text-center mb-4">
      <div class="col-lg-4 col-md-4 col-sm-6 mb-4">
        <img src="/assets/jasmin_hansen.jpg" alt="JASMIN HANSEN" class="img-fluid rounded-circle" style="width:150px; height:150px;">
        <h5 class="mt-3">JASMIN HANSEN</h5>
        <p>Vorstand</p>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-6 mb-4">
        <img src="/assets/sermin_sona.jpg" alt="SERMIN SONA" class="img-fluid rounded-circle" style="width:150px; height:150px;">
        <h5 class="mt-3">SERMIN SONA</h5>
        <p>Vorstand</p>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-6 mb-4">
        <img src="/assets/kristina_edel.jpg" alt="Dr. KRISTINA EDEL" class="img-fluid rounded-circle" style="width:150px; height:150px;">
        <h5 class="mt-3">Dr. KRISTINA EDEL</h5>
        <p>Geschäftsführung</p>
      </div>
    </div>

    <!-- Middle Row -->
    <div class="row text-center mb-4">
      <div class="col-lg-4 col-md-4 col-sm-6 mb-4">
        <img src="/assets/ruth_huebner_gerling.jpg" alt="RUTH HÜBNER-GERLING" class="img-fluid rounded-circle" style="width:150px; height:150px;">
        <h5 class="mt-3">RUTH HÜBNER-GERLING</h5>
        <p>Revisorin</p>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-6 mb-4">
        <img src="/assets/felix.png" alt="FELIX GÄRTNER" class="img-fluid rounded-circle" style="width:150px; height:150px;">
        <h5 class="mt-3">FELIX GÄRTNER</h5>
        <p>Öffentlichkeitsarbeit</p>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-6 mb-4">
        <img src="/assets/baba.png" alt="BABA NDIAYE" class="img-fluid rounded-circle" style="width:150px; height:150px;">
        <h5 class="mt-3">BABA NDIAYE</h5>
        <p>Logistik und Lager</p>
      </div>
    </div>

    <!-- Bottom Row -->
    <div class="row text-center mb-4">
      <div class="col-lg-4 col-md-4 col-sm-6 mb-4">
        <img src="/assets/birte_gifaldi.jpg" alt="BIRTE GIFALDI" class="img-fluid rounded-circle" style="width:150px; height:150px;">
        <h5 class="mt-3">BIRTE GIFALDI</h5>
        <p>Fachberatung Kita</p>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-6 mb-4">
        <img src="/assets/aysel_akarsu.jpg" alt="Aysel Akarsu" class="img-fluid rounded-circle" style="width:150px; height:150px;">
        <h5 class="mt-3">Aysel Akarsu</h5>
        <p>Sekretariat</p>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-6 mb-4">
        <img src="/assets/bernd_harnischfeger.jpg" alt="Bernd Harnischfeger" class="img-fluid rounded-circle" style="width:150px; height:150px;">
        <h5 class="mt-3">Bernd Harnischfeger</h5>
        <p>Sprachtraining</p>
      </div>
    </div>

    <!-- Additional Rows -->
    <div class="row text-center mb-4">
      <div class="col-lg-4 col-md-4 col-sm-6 mb-4">
        <img src="/assets/claudia_ringel.jpg" alt="Claudia Ringel" class="img-fluid rounded-circle" style="width:150px; height:150px;">
        <h5 class="mt-3">Claudia Ringel</h5>
        <p>Sprachtraining</p>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-6 mb-4">
        <img src="/assets/evelyn_cheng.jpg" alt="Evelyn Cheng" class="img-fluid rounded-circle" style="width:150px; height:150px;">
        <h5 class="mt-3">Evelyn Cheng</h5>
        <p>Sprachberatung</p>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-6 mb-4">
        <img src="/assets/husein_halilovic.jpg" alt="Husein Halilovic" class="img-fluid rounded-circle" style="width:150px; height:150px;">
        <h5 class="mt-3">Husein Halilovic</h5>
        <p>Erwachsenensprachkurse</p>
      </div>
    </div>

    <div class="row text-center mb-4">
      <div class="col-lg-4 col-md-4 col-sm-6 mb-4">
        <img src="/assets/lucia_kliem.jpg" alt="Lucia Kliem" class="img-fluid rounded-circle" style="width:150px; height:150px;">
        <h5 class="mt-3">Lucia Kliem</h5>
        <p>Regionalleitung Hochtaunuskreis, Fachbereichsleitung Kita, Referentin</p>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-6 mb-4">
        <img src="/assets/rabia_ozisli.jpg" alt="Rabia Özisli" class="img-fluid rounded-circle" style="width:150px; height:150px;">
        <h5 class="mt-3">Rabia Özisli</h5>
        <p>Sprachförderung</p>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-6 mb-4">
        <img src="/assets/silke_pekbas.jpg" alt="Silke Pekbas" class="img-fluid rounded-circle" style="width:150px; height:150px;">
        <h5 class="mt-3">Silke Pekbas</h5>
        <p>Sprachtraining</p>
      </div>
    </div>

    <div class="row text-center mb-4">
      <div class="col-lg-4 col-md-4 col-sm-6 mb-4">
        <img src="/assets/miralem.png" alt="Miralem Hasic" class="img-fluid rounded-circle" style="width:150px; height:150px;">
        <h5 class="mt-3">Miralem Hasic</h5>
        <p>Sprachberatung</p>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-6 mb-4">
        <img src="/assets/vivi.png" alt="Vivian Hottinger" class="img-fluid rounded-circle" style="width:150px; height:150px;">
        <h5 class="mt-3">Vivian Hottinger</h5>
        <p>Sprachberatung</p>
      </div>
      
      <div class="col-lg-4 col-md-4 col-sm-6 mb-4">
        <img src="/assets/victoria_greening.png" alt="Victoria Greening" class="img-fluid rounded-circle" style="width:150px; height:150px;">
        <h5 class="mt-3">Victoria Greening</h5>
        <p>Sprachtraining</p>
      </div>
    </div>
  </div>
  <br>
</div>
