<div class="container-fluid p-0">
<div class="full-width-banner mt-navbar">
<%= image_tag 'banner-schule2.jpg', alt: 'Chalkboard Background', class: 'banner-background' %>
<div class="banner-overlay">
  <%= image_tag 't.jpg', alt: 'Children and Adults', class: 'banner-overlay-image' %>
</div>
</div>

<div class="card container mt-5">

  <h2 class="mb-4 text-center">Unser Team</h2>

  <!-- Team Section -->
  <div class="row text-center">
    <!-- Team Member 1 -->
    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
      <img src="/assets/jasmin_hansen.jpg" alt="JASMIN HANSEN" class="img-fluid rounded-circle" style="width:150px; height:150px;">
      <h5 class="mt-3">JASMIN HANSEN</h5>
      <p>Vorstand</p>
    </div>

    
    <!-- Team Member 3 -->
    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
      <img src="/assets/sermin_sona.jpg" alt="SERMIN SONA" class="img-fluid rounded-circle" style="width:150px; height:150px;">
      <h5 class="mt-3">SERMIN SONA</h5>
      <p>Vorstand</p>
    </div>

    <!-- Team Member 4 -->
    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
      <img src="/assets/kristina_edel.jpg" alt="Dr. KRISTINA EDEL" class="img-fluid rounded-circle" style="width:150px; height:150px;">
      <h5 class="mt-3">Dr. KRISTINA EDEL</h5>
      <p>Geschäftsführung</p>
    </div>

    <!-- Team Member 5 -->
    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
      <img src="/assets/ruth_huebner_gerling.jpg" alt="RUTH HÜBNER-GERLING" class="img-fluid rounded-circle" style="width:150px; height:150px;">
      <h5 class="mt-3">RUTH HÜBNER-GERLING</h5>
      <p>Revisorin</p>
    </div>

    <!-- Team Member 6 -->
    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
      <img src="/assets/felix_gaertner.jpg" alt="FELIX GÄRTNER" class="img-fluid rounded-circle" style="width:150px; height:150px;">
      <h5 class="mt-3">FELIX GÄRTNER</h5>
      <p>Öffentlichkeitsarbeit</p>
    </div>

    <!-- Team Member 7 -->
    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
      <img src="/assets/baba_ndiaye.jpg" alt="BABA NDIAYE" class="img-fluid rounded-circle" style="width:150px; height:150px;">
      <h5 class="mt-3">BABA NDIAYE</h5>
      <p>Logistik und Lager</p>
    </div>

    <!-- Team Member 8 -->
    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
      <img src="/assets/birte_gifaldi.jpg" alt="BIRTE GIFALDI" class="img-fluid rounded-circle" style="width:150px; height:150px;">
      <h5 class="mt-3">BIRTE GIFALDI</h5>
      <p>Fachberatung Kita</p>
    </div>

    <!-- Team Member 9 -->
<div class="col-lg-3 col-md-4 col-sm-6 mb-4">
  <img src="/assets/aysel_akarsu.jpg" alt="Aysel Akarsu" class="img-fluid rounded-circle" style="width:150px; height:150px;">
  <h5 class="mt-3">Aysel Akarsu</h5>
  <p>Position</p>
</div>

<!-- Team Member 10 -->
<div class="col-lg-3 col-md-4 col-sm-6 mb-4">
  <img src="/assets/bernd_harnischfeger.jpg" alt="Bernd Harnischfeger" class="img-fluid rounded-circle" style="width:150px; height:150px;">
  <h5 class="mt-3">Bernd Harnischfeger</h5>
  <p>Position</p>
</div>


<!-- Team Member 13 -->
<div class="col-lg-3 col-md-4 col-sm-6 mb-4">
  <img src="/assets/claudia_ringel.jpg" alt="Claudia Ringel" class="img-fluid rounded-circle" style="width:150px; height:150px;">
  <h5 class="mt-3">Claudia Ringel</h5>
  <p>Position</p>
</div>

<!-- Team Member 14 -->
<div class="col-lg-3 col-md-4 col-sm-6 mb-4">
  <img src="/assets/evelyn_cheng.jpg" alt="Evelyn Cheng" class="img-fluid rounded-circle" style="width:150px; height:150px;">
  <h5 class="mt-3">Evelyn Cheng</h5>
  <p>Position</p>
</div>


<!-- Team Member 17 -->
<div class="col-lg-3 col-md-4 col-sm-6 mb-4">
  <img src="/assets/husein_halilovic.jpg" alt="Husein Halilovic" class="img-fluid rounded-circle" style="width:150px; height:150px;">
  <h5 class="mt-3">Husein Halilovic</h5>
  <p>Position</p>
</div>


<!-- Team Member 22 -->
<div class="col-lg-3 col-md-4 col-sm-6 mb-4">
  <img src="/assets/lucia_kliem.jpg" alt="Lucia Kliem" class="img-fluid rounded-circle" style="width:150px; height:150px;">
  <h5 class="mt-3">Lucia Kliem</h5>
  <p>Position</p>
</div>

<!-- Team Member 23 -->
<div class="col-lg-3 col-md-4 col-sm-6 mb-4">
  <img src="/assets/rabia_özisli.jpg" alt="Rabia Özisli" class="img-fluid rounded-circle" style="width:150px; height:150px;">
  <h5 class="mt-3">Rabia Özisli</h5>
  <p>Position</p>
</div>


<!-- Team Member 25 -->
<div class="col-lg-3 col-md-4 col-sm-6 mb-4">
  <img src="/assets/silke_pekbas.jpg" alt="Silke Pekbas" class="img-fluid rounded-circle" style="width:150px; height:150px;">
  <h5 class="mt-3">Silke Pekbas</h5>
  <p>Position</p>
</div>

<!-- Team Member 26 -->
<div class="col-lg-3 col-md-4 col-sm-6 mb-4">
  <img src="/assets/victoria_greening.png" alt="Victoria Greening" class="img-fluid rounded-circle" style="width:150px; height:150px;">
  <h5 class="mt-3">Victoria Greening</h5>
  <p>Position</p>
</div>

  </div>

  <!-- Notes Section -->
  <div class="row mt-5">
    <div class="col-lg-12 text-left">
      <small>
        <ul>
        <em>Anmerkungen:</em>
        <li><em>Aus Platzgründen ist die Schriftart bei Name/Position 1P kleiner als auf allen anderen Seiten.</em></li>
        <li><em>Die Mitarbeiter-Liste muss aktualisiert werden.</em></li>        
        </ul>
      </small>
    </div>
  </div>

</div> 
<br>
</div>