<div class="container-fluid p-0">
  <div class="full-width-banner mt-navbar">
    <%= image_tag 'banner-schule2.jpg', alt: 'Chalkboard Background', class: 'banner-background' %>
    <div class="banner-overlay">
      <%= image_tag 'vision.jpg', alt: 'Children and Adults', class: 'banner-overlay-image' %>
    </div>
  </div>

  <div class="container mt-5">
    <!-- Mission & Vision Section -->
    <div class="card shadow p-4 d-flex flex-lg-row flex-column align-items-start mb-5">
      <!-- Left Section: Mission & Vision Text -->
      <div class="flex-fill">
        <h3>Unsere Mission & Vision:</h3>
        <p>
          „Um im deutschen Schulsystem Erfolg zu haben, ist die sichere Beherrschung der entscheidende Schlüssel. Das gilt für zugewanderte Kinder genauso wie für solche aus bildungsfernen Haushalten. Die InSL hat es sich deshalb zum Ziel gesetzt, jedem Kind schulischen Erfolg und gesellschaftliche Teilhabe zu ermöglichen. Denn Bildungs­gerechtigkeit ist die Basis einer friedlichen und freiheitlichen Gesellschaft. Sprache darf kein Diskriminierungsgrund sein.“
        </p>
        <p>
          „InSL vermittelt die Merkmale, die schulisch relevant für die Bildungssprache sind und macht sie dadurch allen Kindern zugänglich. Sprachförderung verstehen wir als Sprachbildung, die individuell entlang der gesamten Bildungsbiographie der Schülerinnen und Schüler angeboten wird.“
        </p>
      </div>

      <!-- Right Section: Dr. Kristina Edel Image and Info -->
      <div class="align-self-center ml-lg-5 mt-4 mt-lg-0 text-center">
        <img src="/assets/kristina_edel.jpg" alt="Dr. KRISTINA EDEL" class="img-fluid rounded-circle" style="width:150px; height:150px;">
        <p class="mt-3"><strong>Dr. KRISTINA EDEL</strong><br>Geschäftsführung</p>
      </div>
    </div>

    <!-- 'InSL wirkt!' Section -->
    <div class="card shadow p-4 d-flex flex-lg-row flex-column align-items-start mb-5">
      <!-- Left Section: Sermin Sona Image and Info -->
      <div class="align-self-center mr-lg-5 mb-4 mb-lg-0 text-center">
        <img src="/assets/sermin_sona.jpg" alt="Sermin Sona" class="img-fluid rounded-circle" style="width:150px; height:150px; object-fit: cover; border-radius: 50%;">
        <p class="mt-4"><strong>SERMIN SONA</strong><br>Vorstand</p>
      </div>

      <!-- Right Section: InSL wirkt! Text -->
      <div class="flex-fill" style="max-width: 600px;">
        <h3>InSL wirkt!</h3>
        <p>
          „Wir möchten die Ergebnisse unserer Arbeit gerne transparent machen. Deswegen haben wir ein einheitliches Konzept zur qualitativen Wirkungsmessung ausgearbeitet und veröffentlichen die Ergebnisse regelmäßig in unseren Wirkungsberichten.“
        </p>
        <a href="#" class="text-primary"><strong>● Zu unseren Wirkungsberichten >></strong></a>
      </div>
    </div>
  </div>

  
</div>
