<div class="container-fluid p-0">
  <!-- Full-Width Banner Section -->
  <div class="full-width-banner mt-navbar">
  <img src="/banner-schule2.jpg" alt="Chalkboard Background" class="banner-background">
    <div class="banner-overlay">
    <img src="/vision.jpg" alt="Children and Adults" class="banner-overlay-image">
    </div>
  </div>

  <div class="container mt-5">
    <!-- Mission & Vision Section -->
    <div class="row mb-4">
      <div class="col-lg-12">
        <div class="card shadow p-4 d-flex flex-lg-row flex-column align-items-start h-100">
          <!-- Left Section: Text Content -->
          <div class="flex-fill" style="max-width: 800px">
            <h3>Unsere Mission & Vision</h3>
            <p>
              "Um im deutschen Schulsystem Erfolg zu haben, ist die sichere Beherrschung der entscheidende Schlüssel. Das gilt für zugewanderte Kinder genauso wie für solche aus bildungsfernen Haushalten. Die InSL hat es sich deshalb zum Ziel gesetzt, jedem Kind schulischen Erfolg und gesellschaftliche Teilhabe zu ermöglichen. Denn Bildungs­gerechtigkeit ist die Basis einer friedlichen und freiheitlichen Gesellschaft. Sprache darf kein Diskriminierungsgrund sein"
            </p>
            <p>
              "InSL vermittelt die Merkmale, die schulisch relevant für die Bildungssprache sind und macht sie dadurch allen Kindern zugänglich. Sprachförderung verstehen wir als Sprachbildung, die individuell entlang der gesamten Bildungsbiographie der Schülerinnen und Schüler angeboten wird".
            </p>
          </div>

          <!-- Right Section: Image and Info -->
          <div class="align-self-center ml-lg-5 mt-4 mt-lg-0 text-center">
          <img src="/sermin_sona.jpg" alt="SERMIN SONA" class="img-fluid rounded-circle" style="width:150px; height:150px;">
            <h5 class="mt-3">Sermin Sona</h5>
            <p>Vorstand</p>
          </div>
        </div>
      </div>
    </div>

    <!-- 'InSL wirkt!' Section -->
    <div class="row mb-4">
      <div class="col-lg-12">
        <div class="card shadow p-4 d-flex flex-lg-row flex-column align-items-start h-100">
          <!-- Left Section: Image and Info -->
          <div class="align-self-center mr-lg-5 mb-4 mb-lg-0 text-center">
          <img src="/Ulya.jpg" alt="Ulya Tütüncübasi" class="img-fluid rounded-circle" style="width:150px; height:150px; object-fit: cover;">
            <h5 class="mt-3">Ulya Tütüncübasi</h5>
            <p>Wirkungsmessung</p>
          </div>

          <!-- Right Section: Text Content -->
          <div class="flex-fill" style="max-width: 800px">
            <h3>InSL wirkt!</h3>
            <p>
              "Um die Wirksamkeit unserer Förderung zu überprüfen, haben wir ein Konzept zur qualitativen und quantitativen Wirkungsmessung ausgearbeitet. Mithilfe von niederschwelligen Screenings überprüfen wir den nachhaltigen Fortschritt der Kinder."
            </p>
            <a href="/wirkungsbericht">● Zu unseren Wirkungsberichten >></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
