<div class="container-fluid p-0">
  <!-- Full-Width Banner -->
  <div class="full-width-banner mt-navbar">
    <%= image_tag 'banner-schule2.jpg', alt: 'Chalkboard Background', class: 'banner-background' %>
    
    <div class="banner-overlay">
      <%= image_tag 'banner-wirkungsbericht2.jpg', alt: 'Children and Adults', class: 'banner-overlay-image' %>
    </div>
  </div>

  <!-- Main Content Container -->
  <div class="container mt-5">
  <div class="row mb-4">
  <div class="col-lg-12">
    <div class="card shadow p-4 d-flex flex-lg-row flex-column align-items-start h-100">
      <!-- Left Section: Text Content -->
      <div class="flex-fill" style="max-width: 800px">
        <h3>Der aktuelle InSL-Wirkungsbericht</h3>
        <p>
          "Wir möchten die Ergebnisse unserer Arbeit gerne transparent machen. Deswegen haben wir ein einheitliches Konzept zur qualitativen Wirkungsmessung ausgearbeitet und veröffentlichen die Ergebnisse regelmäßig in unseren Wirkungsberichten"
        </p>

        <!-- Current Reports -->
        <ul class="list-unstyled">
          <li>
            <a href="/WB_2023_final_komprimiert%20(6).pdf" target="_blank" class="text-primary">
              ● Wirkungsbericht 
            </a>
          </li>
        </ul>
      </div>

      <!-- Right Section: Image and Info -->
      <div class="align-self-center ml-lg-5 mt-4 mt-lg-0 text-center">
        <img src="/assets/julia_lindner.jpg" alt="Julia Lindner" class="img-fluid rounded-circle" style="width:150px; height:150px; object-fit: cover;">
        <h5 class="mt-3">Julia Lindner</h5>
        <p>PR</p>
      </div>
    </div>
  </div>
</div>
  </div>
</div>
